
<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>

  window.img = {
    logo: '<%= asset_url("logo.svg") %>',
    deck: '<%= asset_url("deck_icon.png") %>',
    girl: '<%= asset_url("03.png") %>'
}

</script>



<main id="root"></main>
