.cards-container {
  position: absolute;
  top: 90px;
  bottom: 0;
  left: 38%;
  width: 62vw;
  // display: flex;
  // justify-content: space-between;
}

.add-card-input {
  border: 1px solid #cccccc;
  padding: 6px 12px;
  font-size: 12px;
  border-radius: 4px;
  padding-top: 8px;
  margin-top: 2px;
  margin-right: 7px;
}

.card-flip-container {
  background-color: red;
}

.deck-name {
  font-size: 38px;
  padding: 50px;
  border-bottom: 1px solid #eeeeee;
  font-family: 'Montserrat', sans-serif;
  color: #ff8a47;
  padding: 20px;
  margin-bottom: 40px;
  border-bottom: 1px solid #eeeeee;
}

.card-list-outer {
  background-color: #ffffff;
  // margin-top: 60px;
}

.card-list-container {
  width: 85%;

}

.card-list-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-top: 1px gray;
  border-bottom: 1px gray;
  font-family: 'Montserrat', sans-serif;
}

.flip-button {
  color: white;
  background-color: #29a5dc;
  border-radius: 2px;
  width: 20%;
  height: 10%;
  text-align: center;
  font-size: 10px;
  padding: 4px;
}

.add-card-form {
  width: 75%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 3px solid #ff8a47;
  border-radius: 3px;
  align-items: center;
}

.card-list-item {
  margin-top: 30px;
  font-size: 16px;
  border-top: 2px gray;
  border-bottom: 2px gray;
  color: #29a5dc;
  background-color: #eeeeee;
}

.card-text {
  width: 50%;
  font-size: 14px;
  border-top: 2px solid #dddddd;
  padding-top: 5px;
}

.delete-card-button {
  font-size: 10px;
  width: 12px;
  height: 12px;
  text-align: center;
  border: 2px solid red;
  border-radius: 3px;
  text-align: center;
}

.study-button {

}
