.cards-container {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 38%;
  width: 62vw;
}

.deck-name {
  color: #ff8a47;
  font-size: 32px;
  padding: 50px;
  border-bottom: 1px solid #eeeeee;
  font-family: 'Montserrat', sans-serif;
}

.card-list-outer {
  background-color: yellow;
}

.card-list-container {
  width: 85%;
  background: blue;
}

.add-card-form {
  background: green;
}

.card-list-item {
  margin-top: 30px;
  font-size: 16px;
  font-family: monospace;
  border-top: 2px gray;
  border-bottom: 2px gray;
  color: #29a5dc;
  background-color: #eeeeee;
}

.card-list-text {

}

.study-button {

}
