

.card-show-container {
  display: grid;
  // grid-template-columns: 40px 360px 900px;
  grid-template-columns: 4% 21% 74.8%;
}

.personal {
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: black;
  height: 94vh;
}

.progress {
  grid-column-start: 2;
  grid-column-end: 3;
  height: 100%;
  background-color: #333333;
  flex-grow: 1;
  height: 100%;

  section {
    background-color: #4a4a4a;
    padding: 16px;
    font-size: 26px;
  }

  study-title {
    color: #b0b0b0;
  }

}

.done {
  margin-left: 3px;
}

.section-title {
  color: #b0b0b0;
  display: flex;
  justify-content: space-evenly;
}
.current-deck-title {
  color: white;
}

.card-list-array {
  text-align: right;
  position: relative;
  top: 28px;
  right: 50px;
}

.next-button {
  margin-top: 50px;
}


.flashcard-container {
  grid-column-start: 3;
  grid-column-end: 4;
  background-color: #D3D3D3;

  aside {
    text-align: center;
    width: inherit;
    // padding-left: 350px;
    margin: 50px;
    height: 400px;
  }


  section {

  }



}

.flashcard {
  padding: 20%;
  height: 25%;
}

.card-text {
  text-align: center;
  font-size: 24px;
  // position: absolute;
  width: 100%;
  height: 600px;
  background-color: white;
  /* border: 1px solid; */
  box-shadow: 1px 3px #888888;
}

.done-button {
  display: flex;
  justify-content: space-evenly;
  font-family: inherit;
  text-align: center;
  text-decoration: none !important;
  color: white;
  background: #29a5dc;
  padding: 12px 20px;
  border-radius: 2px;
  width: 35%;
  font-size: 22px;
  border-style: none;
  margin: 20px;
  /* text-align: center; */
  position: relative;
  left: 20%;
}
