

.card-show-container {
  display: grid;
  // grid-template-columns: 40px 360px 900px;
  grid-template-columns: 4% 21% 74.8%;
}

.personal {
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: black;
  height: 94vh;
}

.progress {
  grid-column-start: 2;
  grid-column-end: 3;
  height: 100%;
  background-color: #333333;
  flex-grow: 1;
  height: 100%;

  section {
    background-color: #4a4a4a;
    padding: 16px;
    font-size: 26px;
  }

  study-title {
    color: #b0b0b0;
  }

}

.done {
  margin-left: 3px;
}



.section-title {
  color: #b0b0b0;
  display: flex;
  justify-content: space-evenly;
}

.current-deck-title {
  color: white;
  padding-left: 10px;
}

.card-list-array {
  text-align: right;
  position: relative;
  top: 28px;
  right: 50px;
}

.next-button {
  margin-top: 50px;
}


.flashcard-container {
  grid-column-start: 3;
  grid-column-end: 4;
  background-color: #f6f6f6;

  aside {
    text-align: center;
    width: inherit;
    // padding-left: 350px;
    margin: 50px;
    height: 400px;
  }


  section {

  }



}

.bottom-buttons {
  position: relative;
  top: 3%;
  height: 17%;
  margin: 49px;
}

.front-button-container {
  color: #36b6da;
  font-size: 26px;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0 3px 4px rgba(0,0,0,0.25);
  background-color: #dadbdb;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

.back-button-container {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  height: 100%;
}

.back-button-outer {
  height: 100%;
}

.how-well {
  position: relative;
  top: -18%;
  text-align: center;
  color: #333333;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.comment {
  color: #36b6da;
  position: relative;
  // left: 46%;
  // margin-top: 2%;
  z-index: 99;
}

.card-header {
  display: flex;
  justify-content: space-between;
  padding: 7px;
  color: #bfbfbf;
  font-size: 20px;
}

.rank-1 {
  color: white;
  font-size: 24px;
  box-shadow: 0 3px 4px rgba(0,0,0,0.25);
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: #aa0080;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rank-2 {
  color: white;
  font-size: 24px;
  box-shadow: 0 3px 4px rgba(0,0,0,0.25);
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: #ff8a47;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rank-3 {
  color: white;
  font-size: 24px;
  box-shadow: 0 3px 4px rgba(0,0,0,0.25);
  grid-column-start: 3;
  grid-column-end: 4;
  background-color: #ffdd00;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rank-4 {
  color: white;
  font-size: 24px;
  box-shadow: 0 3px 4px rgba(0,0,0,0.25);
  grid-column-start: 4;
  grid-column-end: 5;
  background-color: #7fae2e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rank-5 {
  color: white;
  font-size: 24px;
  box-shadow: 0 3px 4px rgba(0,0,0,0.25);
  grid-column-start: 5;
  grid-column-end: 6;
  background-color: #00a8d7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flashcard {
  padding: 18% 17%;
  height: 25%;
}

.card-text {
  text-align: center;
  font-size: 24px;
  // position: absolute;
  width: 100%;
  // height: 650px;
  background-color: white;
  /* border: 1px solid; */
  box-shadow: 0 3px 4px rgba(0,0,0,0.25);
}

.play {
  margin-right: 3px;
}

.done-button {
  display: flex;
  justify-content: space-evenly;
  font-family: inherit;
  text-align: center;
  text-decoration: none !important;
  color: white;
  background: #29a5dc;
  padding: 12px 20px;
  border-radius: 2px;
  width: 35%;
  font-size: 22px;
  border-style: none;
  margin: 20px;
  /* text-align: center; */
  position: relative;
  left: 20%;
}
