.main-nav {
	display: flex;
	// justify-content: space-between;
  align-items: center;
  line-height: 60px;
	border-bottom: 1px solid red;
}

.login-form-container {
  // color: blue;
  // display:flex;
	// justify-content: space-between;
  // top: 10px;
  // padding: 10px;
}



.signup-button {
  text-align: center;
  font-size: 14px;
  padding: 5px 18px;
  color: white;
  background: #29a5dc;
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 2px;
  text-decoration: none;
  display: inline-block;
}

.signup-button a:hover {
  background: #29a5dc;
}

.login-button {
  text-decoration: none;
}
