
h2 {
  text-align: center;
}


body {
  padding: 0px;
  margin: 0px;
  width: 100vw;
  background-image: image_url("main_landing.jpg");
  background-size: cover;
  background-position:top;
  background-repeat: no-repeat;
  // Photo by Climate KIC on Unsplash
 }
 
