.main-nav  {
	display: flex;
	position: absolute;
	justify-content: space-between;
	font-family: 'Montserrat', sans-serif;
	align-items: center;
	background-color: rgba(0,0,0,0.44);
	width: 100vw;
}


.signup-button {
	font-family: inherit;
  text-align: center;
	text-decoration: none!important;
  color: white;
  background: #29a5dc;
  padding: 5px 14px;
  border-radius: 2px;
	margin-right: 20px;
	border-style: none;
}

.fa-user-o {
  margin-left: 15px;
  margin-right: 5px;
}

.login-button {
	font-family: inherit;
	background-color: Transparent;
	cursor:pointer;
  overflow: hidden;
  outline:none;
	padding: 10px;
	color: white;
	border-style: none;
	display: inline;
	text-decoration: none!important;
	margin: 0 0 0 32px;
}

.login-button:hover {
  color: #29a5dc;
}



.login-signup-container {
	font-size: 13px;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	align-items: center;
}

.signup-button:hover {
	display: inline;
  background: rgba(41, 165, 220, 0.42);
	text-decoration: underline;
}

.logo-container {
  display: flex;
  align-items:baseline;
  // text-align: center;
  margin-left: 15px;
}

.mindbind-title-one {
  display: inline;
  // padding-left: 15px;
	font-size: 20px;
	color: white;
	font-weight: bolder;
}

.mindbind-title-two {
  display: inline;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	color: white;
}
