
.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0, 0.44);
  z-index: 2000;
}


.login-container {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  vertical-align: top;
  border-radius: 2px;
  width: 300px;
  height: 415px;
  background-color: white;
  justify-content: space-between;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  min-width: 300px;
  max-width: 700px;
  opacity: 1;
  z-index: 1000;

}


.demo {
  position: relative;
  font-family: inherit;
  background-color: Transparent;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  padding: 10px;
  color: white;
  border-style: none;
  display: inline;
  text-decoration: none!important;
  background: red;
  height: 100%;
  margin-top: 5px;
  padding: 10px;
  width: 20%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  background: #29a5dc;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
}

.login-form-modal {
  margin: 20px auto;
  width: 300px;
}

.login-input {
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 2px;
}

.login-title {
  margin-top: 40px;
  color: #ff8a47;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 22px;
}

.input-username {
  margin-bottom: 10px;
  padding: 15px;
  background: #f2f2f2;
}

.input-password {
  margin-top: 10px;
  padding: 15px;
  background: #f2f2f2;
}

.modal-login-button {
  position: relative;
  right: -113px;
  font-family: inherit;
  text-align: center;
  text-decoration: none!important;
  color: white;
  background: #29a5dc;
  padding: 9px 20px;
  border-radius: 2px;
  margin-right: 15px;
  border-style: none;
  z-index: 1000;
  margin-top: 5px;
}


.fa-times-circle {
  fill: black;
  position: absolute;
  top: -4px;
  right: -4px;
  color: #29a5dc;
  border-color: 3px #29a5dc;
  /* https://stackoverflow.com/questions/17540383/is-it-possible-to-color-the-fontawesome-icon-colors */
 }

 .fa-times-circle:hover {
   // pops out
 }

 .flex-outer li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}


.flex-outer > li {
  text-align: left;
  color: #ff8a47;
  flex: 1 0 120px;
  max-width: 100%;
  padding: 6px;
  margin-left: 60px;
  margin-right: 60px;
  background: #f2f2f2;
  color: #555555;
  font-family: 'Montserrat', sans-serif;

}

.name-wrapper {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  // don't grow, don't shrink, start at 120px width
  flex: 1 0 120px;
  display: flex;
  justify-content: space-between;
  margin-left: 60px;
  margin-right: 60px;
  background: #f2f2f2;
  color: #555555;
}

.name-wrapper > li {
  padding: 20px;

}

.modal-signup-button {
  font-family: 'Montserrat', sans-serif;
  flex: 1 0 120px;
  text-align: center;
  width: 66%;
  border-radius: 3px;
  padding: 6px;
  background-color: #29a5dc;
  color: white;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 25px;
}

.signup-name {
  // flex: 0 0 100px;
  max-width: 100px;
  display: block;
  background-color: #29a5dc;
  color: #29a5dc;
}

.input-firstname {
  text-align: left;
}

.input-lastname {
  text-align: left;
}

.signup-container {
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  vertical-align: top;
  border-radius: 2px;
  width: 500px;
  height: 575px;
  background-color: white;
  justify-content: space-between;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  z-index: 1000;

}

hr {
  color: #d3d3d3;
  width: 70%;
}

.signup-form-modal {

}
