
.full-page {
  height: 94vh;
}
.search-container {
  position: absolute;
  width: 35%;
  background-color: blue;
  background-color: rgba(37,54,70,0.98);

}

.search-form {
  height: 90px;
  margin-top: 50px;
  display: flex;
}

.results-list-outer {
  // position: absolute;
  padding: 0px 80px;
  // margin-top: 90px;
}

.query-container {
  margin-top: 50px;
  display: table;
}

.results-container {
  height: 94vh;
  background-color: white;
  left: 35%;
  position: absolute;
  width: 64.8%;
}

.input-query {
  background: white;
  margin-left: 25px;
  height: 20px;
  padding: 10px 25px;

}

.deck-info {
  color: #29a5dc;
}

.category-title {
  text-transform: uppercase;
  padding: 10px;
}

.tainer {
  margin-left: 35%;
  width: 100%;
  background-color: yellow;
}

.search-img {
  width: 207%;
  overflow: hidden;
  position: absolute;
  left: -29%;
}

.browse {
  font-family: 'Montserrat', sans-serif;
  color: #ff8a47;
  background-color: rgba(37,54,70,0.92);
  height: 13.8%;
  font-size: 37px;
  display: flex;
  align-items: center;
  padding-left: 5%;
}

.search-cat-button {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  /* width: 66%; */
  border-radius: 3px;
  padding: 6px;
  background-color: #29a5dc;
  color: white;
  position: relative;
  // left: 50%;
  transform: translateX(-50%);
  padding: 10px 25px;
  height: 20px;
}
