
.search-container {
  position: absolute;
  width: 35%;
  background-color: blue;
  background-color: rgba(37,54,70,0.98);

}

.search-form {
  height: 90px;
}

.results-list-outer {
  // position: absolute;
  // margin-top: 90px;
}

.deck-info {

}

.results-container {
  // position: absolute;
  margin-left: 35%;
  // margin-top: 90px;
  // margin-top: 90px;
  // top: 0;
  // left: 0;
  // right: 0;
  // bottom: 0;
  width: 100%;
  background-color: yellow;
}
