<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
  <script src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"> </script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <script src="https://use.fontawesome.com/fddc06f597.js"></script>
  <script src="https://use.fontawesome.com/909e297927.js"></script>
  <script src="https://use.fontawesome.com/86c17f6154.js"></script>
  <script src="https://use.fontawesome.com/79989b28cd.js"></script>
  <script src="https://use.fontawesome.com/5d3ff32c73.js"></script>

  <title>MindBind</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
  <%= yield %>
</body>
</html>
